{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "prettier",
    "standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "react/prop-types": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "ignorePatterns": [
    "dist",
    "node_modules",
    "examples",
    "scripts"
  ]
}